[paths]
source =
   src/attendance
   */site-packages/attendance

[run]
branch = True
source =
    attendance
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
